In [ ]:
import sqlite3

In [ ]:
def dbConnection(dbfile):
    conn=sqlite3.connect(dbfile)
    cur=conn.cursor()
    print("Connection sucessful!!")
    return conn, cur

In [ ]:
dbConnection("university_projects.db")

Connection sucessful!!

(<sqlite3.Connection at 0x71b5afd04f40>, <sqlite3.Cursor at 0x71b5afce3940>)

In [ ]:
conn, cur=dbConnection("university_projects.db")
cur.execute('''CREATE TABLE IF NOT EXISTS tblprojects(
id INTEGER PRIMARY KEY AUTOINCREMENT,
stuNm TEXT NOT NULL,
projTi TEXT NOT NULL,
superNm TEXT,
feild TEXT,
year INTEGER)''')
print("Table created successfully")

In [ ]:
def numvalida(txt):
    while True:
        try:
            num=int(input(txt))
            break
        except:
            print("That is not a number!!!")
    return num

In [ ]:
num=numvalida("Please enter the number of projects you want to add: ")
for i in range(0,num):
    stuNm=input("Enter the name of the student: ")
    projTi=input("Enter the title of the project: ")
    superNm=input("Enter the name of the superviser: ")
    feild= input("Enter the feild of study: ")
    year=numvalida("Enter the year: ")
    cur.execute('''INSERT INTO tblprojects (stuNm, projTi, superNm, feild, year) VALUES (?, ?, ?, ?, ?)''', (stuNm, projTi, superNm, feild, year))
    conn.commit()
print(f"{num} project(s) added successfully.")

That is not a number!!!
That is not a number!!!
That is not a number!!!
That is not a number!!!
That is not a number!!!
That is not a number!!!
That is not a number!!!
That is not a number!!!
That is not a number!!!

NameError: name 'cur' is not defined

In [ ]:
cur.execute(''' SELECT * FROM tblproects''')
rows =cur.fetchall()
for row in rows:
    print(row)
conn.close()