In [ ]:
import sqlite3

In [2]:
def dbConnection(dbfile):
    conn=sqlite3.connect(dbfile)
    cur=conn.cursor()
    print("Connection sucessful!!")
    return conn, cur

In [3]:
dbConnection("university_projects.db")

Connection sucessful!!

(<sqlite3.Connection at 0x793a402f1120>, <sqlite3.Cursor at 0x793a402bc240>)

In [4]:
conn, cur=dbConnection("university_projects.db")
cur.execute('''CREATE TABLE IF NOT EXISTS tblprojects(
id INTEGER PRIMARY KEY AUTOINCREMENT,
stuNm TEXT NOT NULL,
projTi TEXT NOT NULL,
superNm TEXT,
feild TEXT,
year INTEGER)''')
print("Table created successfully")

Connection sucessful!!
Table created successfully

In [5]:
def numvalida(txt):
    while True:
        try:
            num=int(input(txt))
            break
        except:
            print("That is not a number!!!")
    return num

In [6]:
num=numvalida("Please enter the number of projects you want to add: ")
for i in range(0,num):
    stuNm=input("Enter the name of the student: ")
    projTi=input("Enter the title of the project: ")
    superNm=input("Enter the name of the superviser: ")
    feild= input("Enter the feild of study: ")
    year=numvalida("Enter the year: ")
    cur.execute('''INSERT INTO tblprojects (stuNm, projTi, superNm, feild, year) VALUES (?, ?, ?, ?, ?)''', (stuNm, projTi, superNm, feild, year))
    conn.commit()
print(f"{num} project(s) added successfully.")

3 project(s) added successfully.

In [ ]:
def displayAllResults():
    cur.execute(''' SELECT * FROM tblprojects''')
    rows =cur.fetchall()
    for row in rows:
        print(row)
    conn.close()
displayAllResults()

(1, 'Max', 'Quantum entanglement', 'Hutch', 'Physics', 2060)
(2, 'Alex', 'Probability fields', 'Mr jiang', 'Physics', 2089)
(3, 'Alice', 'Wave particle duality', 'Miss McNally', 'Physics', 2222)

In [7]:
conn, cur =dbConnection("university_projects.db")
stuNm=input("Enter the name of the student: ")
superNm=input("Enter the name of the new supervisor")
cur.execute('''UPDATE tblprojects SET superNm =? WHERE stuNm=?''',(superNm, stuNm))
displayAllResults()

Connection sucessful!!
(1, 'Max', 'Quantum entanglement', 'Mr Hutchings', 'Physics', 2060)
(2, 'Alex', 'Probability fields', 'Mr jiang', 'Physics', 2089)
(3, 'Alice', 'Wave particle duality', 'Miss McNally', 'Physics', 2222)