In [9]:
import sqlite3

In [10]:
def dbconnection(dbfile):
    conn = sqlite3.connect(dbfile)
    cur = conn.cursor()
    print("Connection successful")
    return conn,cur

In [11]:
dbconnection("students.db")

Connection successful

(<sqlite3.Connection at 0x739e37f157b0>, <sqlite3.Cursor at 0x739e54366340>)

In [12]:
conn, cur= dbconnection("students.db")
cur.execute('''
      CREATE TABLE IF NOT EXISTS tblstudents (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT,
      age INTEGER,
      grade TEXT)''')
print("The table was created successfully")

Connection successful
The table was created successfully

In [13]:
cur.executescript('''
INSERT INTO tblstudents (name, age, grade)
VALUES ('Freddie', 17, 'A');

INSERT INTO tblstudents (name, age, grade)
VALUES ('Corinna', 16, 'B');
''')

In [14]:
cur.execute(''' SELECT * FROM tblstudents''')
rows =cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, 'Freddie', 17, 'A')
(2, 'Corinna', 16, 'B')
(3, 'Freddie', 17, 'A')
(4, 'Corinna', 16, 'B')

In [26]:
def select_display_results(dbpath,query_string):
    conn,cur = dbconnection(dbpath)
    #1. Execute the query
    cur.execute(f'''{query_string}''')
    #2. Fetch all rows
    rows = cur.fetchall()
    #print data
    feilds= cur.description
    nms=[]
    for i in range(len(feilds)):
        nms.append(feilds[i][0])
    print(nms)
    for row in rows:
        print(row)

select_display_results("students.db","SELECT * FROM tblstudents")

Connection successful
['id', 'name', 'age', 'grade']
(1, 'Freddie', 17, 'A')
(2, 'Corinna', 16, 'B')
(3, 'Freddie', 17, 'A')
(4, 'Corinna', 16, 'B')

In [28]:
conn,cur = dbconnection("students.db")
#1. update the record
cur.execute(f'''UPDATE tblstudents SET grade ="C" WHERE name ="Corinna"''')
conn.commit()
#2. Confirm the changes happened
select_display_results("students.db","SELECT name, grade FROM tblstudents WHERE name = 'Corinna'")

Connection successful
Connection successful
['name', 'grade']
('Corinna', 'C')
('Corinna', 'C')

In [29]:
name = input("Name: ")
age  = int(input("Age: "))
grade = input("Grade:")

#Connect to the database
conn,cur = dbconnection("students.db")

#insert data into the database
query = "INSERT INTO tblstudents (name, age, grade) VALUES (?,?,?)"

#execute the query
cur.execute(query,(name,age, grade))
conn.commit()
print("New record successfully added")
conn.close()

Connection successful
New record successfully added