In [9]:
import sqlite3

In [10]:
def dbconnection(dbfile):
    conn = sqlite3.connect(dbfile)
    cur = conn.cursor()
    print("Connection successful")
    return conn,cur

In [11]:
dbconnection("students.db")

Connection successful

(<sqlite3.Connection at 0x739e37f157b0>, <sqlite3.Cursor at 0x739e54366340>)

In [12]:
conn, cur= dbconnection("students.db")
cur.execute('''
      CREATE TABLE IF NOT EXISTS tblstudents (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      name TEXT,
      age INTEGER,
      grade TEXT)''')
print("The table was created successfully")

Connection successful
The table was created successfully

In [13]:
cur.executescript('''
INSERT INTO tblstudents (name, age, grade)
VALUES ('Freddie', 17, 'A');

INSERT INTO tblstudents (name, age, grade)
VALUES ('Corinna', 16, 'B');
''')

In [14]:
cur.execute(''' SELECT * FROM tblstudents''')
rows =cur.fetchall()
for row in rows:
    print(row)
conn.close()

(1, 'Freddie', 17, 'A')
(2, 'Corinna', 16, 'B')
(3, 'Freddie', 17, 'A')
(4, 'Corinna', 16, 'B')